.container {
    margin: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 3rem;
        background: rgb(0, 155, 255);
        background: linear-gradient(45deg, rgba(0, 155, 255, 1) 0%, rgba(9, 121, 118, 1) 100%);
        border-radius: 5px;
        box-shadow: 0px 10px 20px rgb(0, 195, 255);
        text-shadow: 2px 2px 2px rgb(51, 50, 50);

        .title {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .details {
            height: 80%;
            display: flex;
            width: 100%;

            .more {
                width: 60%;
                display: flex;
                flex-direction: column;
                list-style: none;
                font-size: 1.5rem;
            }

            .icon {
                width: 40%;
                margin: auto;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}